<script>
  import src from "../../assets/anonyme.jpg";

  function onSubmit(e) {
    const formData = new FormData(e.target);

    const data = {};
    for (let field of formData) {
      const [key, value] = field;
      data[key] = value;
    }

    console.log("data", data);
  }
</script>

<div
  class=" bg-white flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
>
  <div class=" bg-gray-100 rounded-lg w-full max-w-md space-y-8 shadow-2xl">
    <div class="mt-6">
      <img class="rounded-full mx-auto h-12 w-auto" {src} alt="Avatar" />
      <h2
        class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900"
      >
      S'identifier
      </h2>
    </div>
    <form class="margin mb-25 space-y-6" on:submit|preventDefault={onSubmit}>
      <!-- <input type="hidden" name="remember" value="true" /> -->
      <div class="-space-y-px rounded-md shadow-sm">
        <div class="mb-4">
          <input
            id="email-address"
            name="email"
            type="email"
            autocomplete="email"
            required
            class="relative block w-full appearance-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            placeholder="Email"
          />
        </div>
        <div class="mb-4">
          <input
            id="password"
            name="password"
            type="password"
            autocomplete="current-password"
            required
            class="relative block w-full appearance-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            placeholder="Mot de passe"
          />
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <input
            id="remember-me"
            name="remember-me"
            type="checkbox"
            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
          />
          <label for="remember-me" class="ml-2 block text-sm text-gray-900"
            >Souviens-toi de moi</label
          >
        </div>

        <div class="text-sm">
          <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500"
            >Mot de passe oublié?</a
          >
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="mb-8 group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
        >
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <svg
              class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
          S'identifier
        </button>
      </div>
    </form>
  </div>
</div>

<style>
  .h-12 {
    height: 8rem;
  }
  .margin {
    margin: 30px;
    margin-bottom: 25px !important;
  }
</style>
