<script>
  import avatar from "../assets/avatar.jpg";
  import logo from "../assets/logo.png";
  import Algorithm from "./Algorithm.svelte";
  const random = Math.floor(Math.random() * 10) + 1;
  let images = [
    { id: 0, src: "https://source.unsplash.com/1600x900/?beach" },
    { id: 1, src: "https://source.unsplash.com/1600x900/?cat" },
    { id: 2, src: "https://source.unsplash.com/1600x900/?dog" },
    { id: 3, src: "https://source.unsplash.com/1600x900/?lego" },
    { id: 4, src: "https://source.unsplash.com/1600x900/?textures&patterns" },
  ];
  let currentImage = images[0];
  let open = false; // default state (dropdown close)

  const handleDropdownClick = () => {
    open = !open; // togle state on click
  };
  const back = () => {
    if (currentImage.id === 0) currentImage = images[images.length - 1];
    else currentImage = images[currentImage.id - 1];
  };
  const next = () => {
    if (currentImage.id === images.length - 1) currentImage = images[0];
    else currentImage = images[currentImage.id + 1];
  };
</script>

<svelte:head>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</svelte:head>
<div class="min-h-full">
  <nav class="bg-white-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button
            type="button"
            class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu"
            aria-expanded="false"
          >
            <span class="sr-only">Menu</span>
            <!--
              Icon when menu is closed.
  
              Heroicon name: outline/bars-3
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg
              class="block h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
            <svg
              class="hidden h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
        <div
          class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
        >
          <div class="flex flex-shrink-0 items-center">
            <img class="block h-12 w-auto lg:hidden" src={logo} alt="Logo" />
            <img class="hidden h-12 w-auto lg:block" src={logo} alt="Logo" />
          </div>
        </div>
        <div
          class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
        >
          <button
            type="button"
            class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
          >
            <span class="sr-only">Notifications</span>
            <svg
              class="h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"
              />
            </svg>
          </button>

          <!-- Profile dropdown -->
          <div class="relative ml-3">
            <div on:click={handleDropdownClick}>
              <button
                type="button"
                class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                id="user-menu-button"
                aria-expanded="false"
                aria-haspopup="true"
              >
                <img class="h-8 w-8 rounded-full" src={avatar} alt="" />
              </button>
            </div>

            <div
              style:visibility={open ? "visible" : "hidden"}
              class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="user-menu-button"
              tabindex="-1"
            >
              <a
                href="/"
                class="block px-4 py-2 text-sm text-gray-700"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-0">Profil</a
              >
              <a
                href="/sign-in"
                class="block px-4 py-2 text-sm text-gray-700"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-2">Déconnexion</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <header class="bg-white shadow">
    <article
      x-data="slider"
      class="relative vis w-full flex flex-shrink-0 overflow-hidden shadow-2xl"
    >
      <div
        class="rounded-full bg-gray-600 text-white absolute top-5 right-5 text-sm px-2 text-center z-10"
      >
        <span x-text="currentIndex" />/
        <span x-text="images.length" />
      </div>

      <template>
        <figure
          class="h-96"
          x-show="currentIndex == index + 1"
          x-transition:enter="transition transform duration-300"
          x-transition:enter-start="opacity-0"
          x-transition:enter-end="opacity-100"
          x-transition:leave="transition transform duration-300"
          x-transition:leave-start="opacity-100"
          x-transition:leave-end="opacity-0"
        >
          <img
            src={currentImage.src}
            alt="slide"
            class="absolute inset-0 z-10 h-full w-full object-cover opacity-70"
          />
        </figure>
      </template>

      <button
        on:click={back}
        class="absolute left-14 top-1/2 -translate-y-1/2 w-11 h-11 flex justify-center items-center rounded-full shadow-md z-10 bg-gray-100 hover:bg-gray-200"
      >
        <svg
          class=" w-8 h-8 font-bold transition duration-500 ease-in-out transform motion-reduce:transform-none text-gray-500 hover:text-gray-600 hover:-translate-x-0.5"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2.5"
            d="M15 19l-7-7 7-7"
          />
        </svg>
      </button>

      <button
        on:click={next}
        class="absolute right-14 top-1/2 -translate-y-1/2 w-11 h-11 flex justify-center items-center rounded-full shadow-md z-10 bg-gray-100 hover:bg-gray-200"
      >
        <svg
          class=" w-8 h-8 font-bold transition duration-500 ease-in-out transform motion-reduce:transform-none text-gray-500 hover:text-gray-600 hover:translate-x-0.5"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2.5"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </button>
    </article>
    <!-- <div
      class=" h-80 z-10 w-full h-48 bg-cover bg-no-repeat bg-center bg-[url(https://images.unsplash.com/photo-1554629947-334ff61d85dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&h=640&q=80)]"
    /> -->
  </header>

  <main>
    <div class="bg-white">
      <div class="container px-6 py-10 mx-auto">
        <h1
          class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white"
        >
          IBlog.
        </h1>
        {#each Array(random) as _, i}
          <div class="container mt-8 min-w-full">
            <div class="grid grid-cols-1 md:grid-cols-2">
              <div class=" md:block">
                <img
                  class="object-cover w-full rounded h-72 lg:h-96 bg-cover bg-center bg-no-repeat"
                  alt="img"
                  src="https://source.unsplash.com/random"
                />
              </div>
              <div class="mt-4">
                <blockquote>
                  <p
                    class="animate-fade-in-down mx-12 mb-9 text-center text-sm"
                  >
                    {i + 1}. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Maxime mollitia, molestiae quas vel sint commodi
                    repudiandae consequuntur voluptatum laborum numquam
                    blanditiis harum quisquam eius sed odit fugiat iusto fuga
                    praesentium optio, eaque rerum! Provident similique
                    accusantium nemo autem. Veritatis obcaecati tenetur iure
                    eius earum ut molestias architecto voluptate aliquam nihil,
                    eveniet aliquid culpa officia aut! Impedit sit sunt quaerat,
                    odit, tenetur error, harum nesciunt ipsum debitis quas
                    aliquid.
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
        {/each}
      </div>
    </div>
  </main>
</div>
<Algorithm />

<style>
  .vis {
    z-index: 1;
  }
</style>
